@page "/new-game"
@page "/new-game/{IdentifierParameter}"
@page "/edit-game/{ExistingTemplateIdentifier}"
@using Microsoft.EntityFrameworkCore
@using Poll.DAL.Services
@using Poll.DAL
@using Poll.DAL.Entities
@using Poll.Components.Components
@using Poll.Services
@using Serilog
@inject DatabaseWriteContextProvider DatabaseWriteContextProvider 
@inject DatabaseReadContextProvider DatabaseReadContextProvider 
@inject NavigationManager NavigationManager 
@inject ILogger<NewGame> Logger;
@inject GameCreatorService GameCreatorService;
@inject HttpUtils HttpUtils;
@implements IDisposable;
@implements IAsyncDisposable;

<Microsoft.AspNetCore.Components.Sections.SectionContent SectionName="top-bar">
    <span>Thera Engineering @(DateTimeOffset.UtcNow.Year) </span>
</Microsoft.AspNetCore.Components.Sections.SectionContent>

<div class="container mt-5">
    @if (IsEditingMode)
    {
        <h2 class="mb-4">Modifier le jeu</h2>
    }
    else
    {
        <h2 class="mb-4">Nouveau jeu</h2>
    }
    <EditForm EditContext="_editContext" OnValidSubmit="OnValidSubmit" FormName="NewGame">
        <div class="mb-3">
            <label for="name" class="form-label">Nom du jeu</label>
            <InputText type="text" class="form-control" @bind-Value="_model.Name" id="name" placeholder=""/>
            <ValidationMessage For="() => _model.Name"></ValidationMessage>
        </div>
        <div class="mb-5">
            <label class="form-label">Image facultative affichée avant le début du jeu</label>
            <ImageUpload value="@_model.WaitingImageId" OnFileReady="(id) => _model.WaitingImageId = id"/>
            <ValidationMessage For="() => _model.WaitingImageId"></ValidationMessage>
        </div>

        <hr/>

        @for (var questionIndex = 0; questionIndex < _model.Questions.Count; questionIndex++)
        {
            var question = _model.Questions[questionIndex];
            var i1 = questionIndex;

            <div class="border border-1 rounded-1 p-3 mb-3" @key="question.Identifier">
                <div class="mb-3">
                    <label for="@($"questionTitle-{i1}")" class="form-label">Titre de la question #@(i1 + 1)</label>
                    <InputText type="text" @bind-Value="question.Name" id="@($"questionTitle-{i1}")" class="form-control"/>
                    <ValidationMessage For="() => question.Name"></ValidationMessage>
                </div>
                <div class="mb-5">
                    <label for="@($"QuestionImage-{i1}")" class="form-label">Image facultative affichée pendant que la question est posée</label>
                    <ImageUpload value="@question.QuestionImageId" OnFileReady="(id) => question.QuestionImageId = id"/>
                    <ValidationMessage For="() => question.QuestionImageId"></ValidationMessage>
                </div>
                <div class="mb-5">
                    <label for="@($"ResponseImage-{i1}")" class="form-label">Image facultative affichée pendant que la réponse est présentée</label>
                    <ImageUpload value="@question.ResponseImageId" OnFileReady="(id) => question.ResponseImageId = id"/>
                    <ValidationMessage For="() => question.ResponseImageId"></ValidationMessage>
                </div>


                @for (var choiceIndex = 0; choiceIndex < question.Choices.Count; choiceIndex++)
                {
                    var choice = question.Choices[choiceIndex];
                    var i2 = choiceIndex;

                    <div class="row offset-lg-1 align-items-center mb-4">
                        <div class="col-md-4">
                            <InputText type="text" placeholder="@($"Choix #{i2 + 1}")" @bind-Value="choice.Content" id="@($"ChoiceText-{i1}-{i2}")" class="form-control"/>
                            <ValidationMessage For="() => _model.Name"></ValidationMessage>
                        </div>

                        <div class="col-md-4">
                            <div class="form-check">
                                <InputCheckbox class="form-check-input" @bind-Value:after="() => OnValidChoiceUpdated(i1, i2)" @bind-Value="@choice.IsValid" type="checkbox" id="@($"ChoiceValid-{i1}-{i2}")"/>
                                <label class="form-check-label" for="@($"ChoiceValid-{i1}-{i2}")">
                                    Bonne réponse?
                                </label>
                            </div>
                        </div>

                        <div class="col col-md-4">
                            <button type="button" disabled="@(_model.Questions[i1].Choices.Count <= 1)" class="btn btn-link p-0" @onclick="() => DeleteChoice(i1, i2)">Supprimer ce choix</button>
                        </div>
                    </div>
                }
                <div class="offset-lg-1">
                    <ValidationMessage For="() => question.Choices"></ValidationMessage>
                </div>
                <div class="offset-lg-1">
                    <button type="button" @onclick="() => AddChoice(i1)" class="btn btn-secondary text-white"><i class="fa fa-plus"></i> Ajouter un choix</button>
                </div>


                <button type="button" disabled="@(_model.Questions.Count == 1)" class="btn btn-link mt-3 p-0" @onclick="() => DeleteQuestion(i1)">Supprimer cette question</button>
            </div>
        }
        <div class="">
            <button type="button" @onclick="AddQuestion" class="btn btn-primary text-white"><i class="fa fa-plus"></i> Ajouter une question</button>
        </div>

        <FluentValidationValidator/>

        @if (_saving)
        {
            <button type="button" disabled class="btn btn-primary mt-3">
                <i class="fa fa-refresh fa-spin fa-fw me-1"></i> Envoyer
            </button>
        }
        else
        {
            <button type="submit" class="btn btn-primary mt-3">Envoyer</button>
        }
    </EditForm>

</div>

@code{

    [Parameter]
    public string? IdentifierParameter { get; set; }

    public Guid? Identifier => Guid.TryParse(IdentifierParameter, out var result) ? result : null;

    [Parameter]
    public string? ExistingTemplateIdentifier { get; set; }

    private NewGameModel _model = new NewGameModel()
    {
        Questions = new List<QuestionModel>
        {
            QuestionModel.Default,
        },
    };

    private Timer? _saveTimer = null;

    EditContext? _editContext;

    private bool _saving = false;

    public async Task OnValidSubmit()
    {
        Logger.LogInformation("Form Submitted (valid)");

        _saving = true;
        try
        {
            GameTemplate template;
            if (IsEditingMode && ExistingTemplateIdentifier != null)
            {
                template = await GameCreatorService.UpdateGame(ExistingTemplateIdentifier, _model);
            }
            else
            {
                template = await GameCreatorService.CreateGame(_model);
            }

            NavigationManager.NavigateTo("/template/" + template.Identifier + "?Success=true");
        }
        catch (Exception e)
        {
            Logger.LogError(e, "Could not save game");
        }
        finally
        {
            _saving = false;
        }
    }

    protected override Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            _saveTimer = new Timer(cb => { SaveData(); }, null, TimeSpan.Zero, TimeSpan.FromSeconds(15));
        }

        return base.OnAfterRenderAsync(firstRender);
    }

    private void SaveData()
    {
        if (Identifier.HasValue)
        {
            GameCreatorService.SaveFormState(_model, Identifier.Value);
        }
    }

    private void AddChoice(int questionIndex)
    {
        _model.Questions[questionIndex].Choices.Add(ChoiceModel.Default);
    }

    private void AddQuestion()
    {
        _model.Questions.Add(QuestionModel.Default);
    }

    private void DeleteChoice(int questionIndex, int choiceIndex)
    {
        if (_model.Questions[questionIndex].Choices.Count <= 2)
        {
            return;
        }

        _model.Questions[questionIndex].Choices = _model.Questions[questionIndex].Choices.Where((_, index) => index != choiceIndex).ToList();
    }

    private void DeleteQuestion(int questionIndex)
    {
        if (_model.Questions.Count == 1)
        {
            return;
        }

        _model.Questions = _model.Questions.Where((_, index) => index != questionIndex).ToList();
    }

    private bool IsEditingMode => !string.IsNullOrEmpty(ExistingTemplateIdentifier);

    protected override async Task OnInitializedAsync()
    {
        _model = new()
        {
            Name = "",
            Questions = new List<QuestionModel>()
            {
                QuestionModel.Default,
            },
        };
        _editContext = new(_model);

        if (Identifier is null)
        {
            if (IsEditingMode)
            {
                await LoadExistingTemplate();
            }
            else if (!(await HttpUtils.IsPreRendering()))
            {
                NavigationManager.NavigateTo("/new-game/" + Guid.NewGuid());
                return;
            }
        }
        else
        {
            var existingForm = GameCreatorService.RestoreFormState(Identifier.Value);
            if (existingForm is not null)
            {
                _model = existingForm;
            }
        }

        _editContext = new(_model);
    }

    private async Task LoadExistingTemplate()
    {
        var template = await DatabaseReadContextProvider.Read<PollContext, GameTemplate?>(async db =>
        {
            return await db.GameTemplates
                .Include(i => i.Files)
                .Include(i => i.Questions)
                .ThenInclude(i => i.Choices)
                .SingleOrDefaultAsync(i => i.Identifier == ExistingTemplateIdentifier);
        });

        if (template is null)
        {
            NavigationManager.NavigateTo("/not-found/");
            return;
        }

        var waitingImageFile = template.Files.FirstOrDefault(i => template.WaitingImageId == i.Id);
        _model = new NewGameModel
        {
            Name = template.Name,
            WaitingImageId = waitingImageFile?.Id,
        };

        foreach (var question in template.Questions)
        {
            var matchingFile1 = template.Files.FirstOrDefault(i => question.AskingQuestionImageId == i.Id);
            var matchingFile2 = template.Files.FirstOrDefault(i => question.PresentingAnswerImageId == i.Id);
            _model.Questions.Add(new QuestionModel()
            {
                Name = question.Content,
                QuestionImageId = matchingFile1?.Id,
                ResponseImageId = matchingFile2?.Id,
                Choices = question.Choices
                    .OrderBy(i => i.Index)
                    .Select(c => new ChoiceModel()
                    {
                        Content = c.Content,
                        IsValid = c.IsValid,
                    }).ToList()
            });
        }
    }

    private void OnValidChoiceUpdated(int questionIndex, int choiceIndex)
    {
        for (var index = 0; index < _model.Questions[questionIndex].Choices.Count; index++)
        {
            var choice = _model.Questions[questionIndex].Choices[index];
            choice.IsValid = index == choiceIndex;
        }
    }

    public void Dispose()
    {
        _saveTimer?.Dispose();

        if (Identifier.HasValue)
        {
            GameCreatorService.CleanFormState(Identifier.Value);
        }
    }

    public async ValueTask DisposeAsync()
    {
        if (_saveTimer != null)
        {
            await _saveTimer.DisposeAsync();
        }
    }

}